.body {
    background-color: white;
}
.feather{
    width: 30px;
    height: 30px;
    color: lightblue;
    vertical-align: text-bottom;
    margin: auto;
}
#background .navbar{
    background-color: #102128;
}

#basket{
    padding-top: 80px;
    padding-bottom: 100px;
}
#basket .col-md-6{
    padding: 20px 10px;
}
#basket .h3{
    margin: 20px auto;
}
#bola{
    padding-top: 80px;
    padding-bottom: 100px;
}
#bola .col-md-6{
    padding: 20px 10px;
}
#bola .h3{
    margin: 20px auto;
}
#f1{
    padding-top: 80px;
    padding-bottom: 100px;
}
#f1 .col-md-6{
    padding: 20px 10px;
}
#f1 .h3{
    margin: 20px auto;
}
#motogp{
    padding-top: 80px;
    padding-bottom: 100px;
}
#motogp .col-md-6{
    padding: 20px 10px;
}
#motogp .h3{
    margin: 20px auto;
}

#home .container h1{
    text-align: left;
    margin: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#home .isi .container.atas{
    background-color: white;
    margin-top: -85px;
    padding-bottom: 37px;
}
#transfers .container h1{
    margin: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#injuries .container h1{
    margin: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#scoreboard .container h1{
    margin: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about{
    background-color: #102128;
    margin-top: 79px;
    color: white;
}
#about .container{
    width: 100%;
    padding: 10px;
}
#about .container.footer .col-lg-6 .col-md-6 h5{
    font-family: petitamedium;
    color: white;
}
#extra .link{
    font-family: Arial, Helvetica, sans-serif;
}
#extra .h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 3px;
}
.input-group .input-group-lg{
    margin-top: 23px;
}
#icon{
    color: white;
    font-size: 37px;
    margin-top: 20px;
    position: static;
}
#footer{
    height: 2;
    color: white;
    background-color: black;
}